::ng-deep .mat-dialog-container {
    height: auto !important;
    width: auto !important;
    background: none !important;
    box-shadow: none !important;
}

.mat-form-field{
    margin-right: 10px;
}

::ng-deep .mat-dialog-content::-webkit-scrollbar {
    display: none;
  }

  .mat-dialog-content{
      font-weight: 700;
  }


.content::-webkit-scrollbar {
    display: none;
  }

  
.container{
    background: white;
    padding: 20px 20px 5px 20px;
    border-radius: 10px;
}

.content{
    max-height: 40vh;
    overflow: scroll;
}

h1{
    margin-top: 0px;
    font-weight: 700;
}

table{
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    /* right: 0px; */
    /* background: red; */
}

td{
    padding: 5px;
}

.buttons{
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 10px 0px 0px 5px;
    width: 100%;
    /* background: red; */
}


#setAppointment{
    position: relative;
    float: right;
    background: #21a700;
    /* box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Catamaran;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 60px; */
    
}

#setAppointment:hover{
    background: rgb(7, 3, 243);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

#setAppointment:disabled{
    background: rgba(162, 162, 165, 0.5);
    color: rgba(15, 15, 15, 0.4);
    transition: 0.3s;
}



.timeslotButton{
    font-size:larger;
    text-align: center;
    justify-content: center;
    /* border-bottom: 6px solid #ddd; */
    padding: 3px;
    display: flex;
    width: 100%;
    background: rgba(172, 172, 172, 0.1);
}

.timeslotButton:hover{
    display: flex;
    width: 100%;
    background-color: #ffffff;

}
.timeslotButton tr:hover{
    display: flex;
    width: 100%;
    background-color: #ffffff;

}

.timeslotButton:active{
    background: #56c2fc;
    display: flex;
    width: 100%;
    /* outline: rgb(7, 221, 210) auto 5px;  */
}

.timeslotButton:focus{
    /* border-bottom: 6px solid blue; */
    display: flex;
    width: 100%;
    /* outline: rgb(7, 221, 210) auto 5px;  */
    background-color: rgb(37,122,253);
    color: white;
    transition: 0.3s;
}

.timeslotButton:disabled{
    display: none;
}

#timeSlotTable {
    position: relative;
    border-collapse: collapse;
    background: rgba(172, 172, 172, 0.1);
    width: 98%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-family: catamaran;
}

#timeSlotTable th {
    text-align: center;
    padding: 3px;
    width: 100%;
    font-family: Catamaran;
}

#timeSlotTable td{

    text-align: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

#timeSlotTable tr {
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid #fafafa;
    width: 100%;
}


#timeSlotTable tr.header, tr.header:hover{
    background-color: rgba(61, 12, 238, 0.525);
    color: white;
}


.selected_timeSlot_css{
    background-color: rgb(37,122,253);
    color: white;
    transition: 0.3s;
}